#网站
Django==1.8.17
django-crontab
#MySQLdb-1.2.5
hashlib

#爬虫
feedparser
#STMPsendEmail
#json
rfc822
smtplib
email
selenium
pytz
#goose
#git clone https://github.com/grangier/python-goose.git
#cd python-goose
#pip install -r requirements.txt
#python setup.py install
#es
#安装中文分词ik
#https://github.com/medcl/elasticsearch-analysis-ik/releases
#安装拼音搜索功能
#https://github.com/medcl/elasticsearch-analysis-pinyin
#需要安装mvn打包
