.modal{
	margin: auto;
}
#info{
	margin-top: 60px;
	margin-bottom: 20px;
}
#common-modal{
	width: 420px;
}
#common-modal .modal-body{
	width: 420px;
	height: 270px;
	}
#common-modal a.btn btn-default{
	width: 300px;
	height: 45px;
}
#common-modal a.btn btn-default:hover{
	color: #fff;
}