{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">搜索</a>
    </div>
    {% include "userdropdown.html" %}
  </div>
</nav>
  <div style="position:relative"class="content">
      <img style="max-width: 35%; max-height: 35%;margin-top:20px" src="/static/img/bowulogo2.png" id="plat_graph" class="center-block">
    <div align="center" style="margin-top:40px" class="container-fluid">
      <div  class="row">
        <div  class="col-md-12">
            <div class="card">
                <div class="header">
                    <ul class="nav nav-tabs">
                        <li id="tab_1" class="active"><a href="#" onclick="changetab(1)">IOC搜索</a></li>
                        <li id="tab_2" ><a href="#" onclick="changetab(2)">全文搜索</a></li>
                    </ul>

                </div>
                <div class="content table-responsive table-full-width" name="tab_div" id="tab_1_content" style="max-width:700px;min-width: 700px">
                        <div>
                            <form method="post" action="/searchioc">
                                {% csrf_token %}
                                    <div style="margin-top:20px;float: right;margin-left: 1px">
                                        <input type="submit" class="btn btn-info btn-fill" value="搜索" />
                                    </div>
                                    <div style="margin-top:20px;float: left;">
                                        <input style="width:600px;" type="text" class="form-control" value="" id="text" name="text" placeholder="IP、域名、文件名、文件HASH（MD5/SHA1/SHA256）"/>

                                    </div>
                            </form>
                        </div>
                </div>
                <div class="content table-responsive table-full-width" name="tab_div" id="tab_2_content" style="max-width:700px;min-width: 700px;display: none">
                        <div>
                            <form method="post" action="/contextseacher">
                                {% csrf_token %}
                                    <div style="margin-top:20px;float: right;margin-left: 1px">
                                        <input type="submit" class="btn btn-info btn-fill" value="搜索" />
                                    </div>
                                    <div style="margin-top:20px;float: left;">
                                        <input style="width:600px;" type="text" class="form-control" value="" id="text" name="text" placeholder="RSS标题/RSS内容"/>

                                    </div>
                            </form>
                        </div>
                </div>
        </div>
      </div>

    </div>

    </div>
{% include "footer.html" %}
    </div>
    </div>

    <script type="text/javascript">
    function changetab(tabid) {
        for(i=1;i<=2;i++) {
            document.getElementById("tab_"+i).className=""; //将所有的层都隐藏
        }
        document.getElementById("tab_"+tabid).className="active";//显示当前层
        var divs = document.getElementsByName("tab_div");
        for(var i = 0; i < divs.length; i++) {
                    var divv = divs[i];
                    if(divv == document.getElementById("tab_" + tabid + "_content")) {
                        divv.style.display = "block";
                    } else {
                        divv.style.display = "none";
                    }
        }
    }
    </script>
{% endblock content %}
