{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">用户设置</a>
    </div>
    {% include "userdropdown.html" %}
  </div>
</nav>

      {% if errormessage %}

      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ errormessage }}
      </div>

      {% endif %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="card">
                <div class="header">
                  <h4 class="title">用户信息</h4>
                </div>
                <div class="content">
                  <form action="/saveuser" enctype="application/x-www-form-urlencoded" method="POST">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        <fieldset>
                            {% if isnewuser %}
                            <div class="form-group">
                              <input type="hidden" class="form-control" name="id" id="id" value="">
                                <input type="hidden" class="form-control" name="oldpwd" id="oldpwd" value="" >
                            </div>
                          <div class="form-group">
                            <label>用户名</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户的登录名" >
                          </div>
                          <div class="form-group">
                            <label>密码</label>
                            <input type="password" class="form-control" name="newpwd" id="newpwd" placeholder="请输入用户的密码" >
                          </div>
                          <div class="form-group">
                            <label>校验密码</label>
                            <input type="password" class="form-control" name="checknewpwd" id="checknewpwd" placeholder="请再次输入用户的密码" >
                          </div>
                            {% else %}
                          <div class="form-group">
                              <input type="hidden" class="form-control" name="id" id="id" value="{{ user.id }}">
                            </div>
                          <div class="form-group">
                            <label>用户名</label>
                            <input type="text" class="form-control" name="username" id="username" value="{{ user.username }}" >
                          </div>
                          <div class="form-group">
                            <label>旧密码</label>
                            <input type="password" class="form-control" name="oldpwd" id="oldpwd" placeholder="请输入用户的旧密码" >
                          </div>
                          <div class="form-group">
                            <label>新密码</label>
                            <input type="password" class="form-control" name="newpwd" id="newpwd" placeholder="请输入用户的新密码" >
                          </div>
                          <div class="form-group">
                            <label>校验新密码</label>
                            <input type="password" class="form-control" name="checknewpwd" id="checknewpwd" placeholder="请再次输入用户的新密码" >
                          </div>
                            {% endif %}
                            <div style="float: right;">
                              <a href="/usersetting" class="btn btn-info btn-fill">返回</a>

                              <button onclick="send()" id='submitbt' type="button" class="btn btn-info btn-fill">提交</button>

                            </div>
                            <div class="clearfix"></div>
                    </fieldset>

                          </div>
                        </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
    <script type="text/javascript">
    function send() {
        var oldpwd = document.getElementById('oldpwd').value
        var newpwd = document.getElementById('newpwd').value
        var checknewpwd = document.getElementById('checknewpwd').value
        if(newpwd != checknewpwd){
            document.getElementById('oldpwd').value = ''
            document.getElementById('newpwd').value = ''
            document.getElementById('checknewpwd').value = ''
            alert('两次密码不一样，请重新输入')
        }else{
            var id = document.getElementById('id').value
            var username = document.getElementById('username').value
            var message = {'id':id,'username':username,'oldpwd':oldpwd,'newpwd':newpwd}
            $.ajax({
                url:'/saveuser',
                dataType:'json',
                data:message,
                success:function (result) {
                    alert(result[1])
                    if(result[0] == 2){
                        window.location.href="/usersetting";
                        return
                    }
                    document.getElementById('oldpwd').value = ''
                    document.getElementById('newpwd').value = ''
                    document.getElementById('checknewpwd').value = ''
                }
            })
        }
    }
    </script>
      {% include "footer.html" %}

{% comment %}
<!-- Creating popup for new field-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Field</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" action="/insert/newfield/" enctype="application/x-www-form-urlencoded" method="POST">
          <fieldset>

            <div class="form-group">
              <label for="inputnewfieldname" class="col-lg-2 control-label">Name</label>

              <div class="col-lg-10">
                <input type="text" class="form-control" name="inputnewfieldname" value="" placeholder="Registrar">
              </div>

            </div>

            <div class="form-group">
              <label for="inputnewfieldvalue" class="col-lg-2 control-label">Value</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="inputnewfieldvalue" value="" placeholder="GoDaddy">
              </div>
            </div>

            {% for item in entry %} {% if entry[item] == None %}
            <div></div>
            {% else %}
            <input type="hidden" class="form-control" name="{{ item }}" value="{{ entry[item] }}"> {% endif %} {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-info btn-fill">Submit</button>
      </div>
    </div>

    </fieldset>
    </form>
  </div>
</div>

</div>
</div>
{% endcomment %}

{% endblock content %}
