{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">消息列表</a>
    </div>
    {% include "userdropdown.html" %}
  </div>
</nav>

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">

              <div class="card">
                <div class="header">
                  <div style="float: left;">
                    <h4 class="title">搜索结果</h4>
                  </div>
                </div>

                <div style="margin-top:60px" class="content table-responsive table-full-width">
                  <table class="table table-hover table-striped">
                    <thead>
                      <th width="30px">标题</th>
                      <th width="30px">Ioc 种类</th>
                      <th width="30px">Ioc</th>
                      <th width="30px">ioc页码</th>
                      <th width="30px">标签</th>
                      <th width="30px">ioc来源</th>
                    </thead>
                    <tbody>
                        {% for ioc in iocs %}
                        <tr>
                            <td style="max-width: 300px;overflow: hidden; text-overflow:ellipsis">{{ ioc.name }}</td>
                            <td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis">{{ ioc.ioc_type }}</td>
                            <td style="max-width: 300px;overflow: hidden; text-overflow:ellipsis">{{ ioc.ioc_match }}</td>
                            <td style="max-width: 300px;overflow: hidden; text-overflow:ellipsis">{{ ioc.ioc_page }}</td>
                            <td style="max-width: 300px;overflow: hidden; text-overflow:ellipsis">{{ ioc.tag }}</td>
                            <td style="max-width: 300px;overflow: hidden; text-overflow:ellipsis"><a href="{{ ioc.ioc_oriurl }}" target="_blank">原网页</a></td>
                        </tr>
                        {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "footer.html" %}
      </div>
    </div>
    {% endblock content %}
