
{% extends "base.html" %}

{% block content %}
<div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">消息设置</a>
    </div>
    {% include "userdropdown.html" %}
  </div>
</nav>

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h4 class="title">消息提醒</h4>
                    <div style="float: right;"><a href="/tonewkeyfilter" class="btn btn-info btn-fill"><i class="fa fa-plus"></i>新建推送</a>
                  </div>
                </div>
                <div class="content">
                  选择想要的消息推送
                  </p>
                </div>

              </div>
            </div>
          </div>
          <div style="margin-top:1px" class="content table-responsive table-full-width">
                  <table id="table_1" name="table_1" class="table table-hover table-striped">
                    <thead>
                      <th width="30px">标签名称</th>
                      <th width="30px">关键点</th>
                      <th width="30px">关键词</th>
                      <th width="30px">编辑</th>
                    </thead>
                    <tbody>
                        {% for keyfilter in keyfilters %}
                        <tr>
                            <td style="max-width: 300px;overflow: hidden; text-overflow:ellipsis">{{ keyfilter.name }}</td>
                            <td style="max-width: 300px;overflow: hidden; text-overflow:ellipsis">{% if keyfilter.keycheck == "rsstitle" %}RSS标题{% elif keyfilter.keycheck == "iocmatch" %}IOC内容{% endif %}</td>
                            <td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis">{{ keyfilter.keyword }}</td>
                            <td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis"><div style="float: right"><a  href="/deletekeyfilter?id={{ keyfilter.id }}" class="btn btn-error btn-fill"><i style="width: 1px" class="fa"></i>删除推送</a>
                  </div>
                    <div style="float: bottom;"><a href="/toeditkeyfilter?id={{ keyfilter.id }}" class="btn btn-info btn-fill"><i style="width: 1px" class="fa"></i>编辑推送</a>
                  </div></td>
                        </tr>
                        {% endfor%}
                    </tbody>
                  </table>
                    <div id="barcon1" name="barcon1"></div>

                </div>

        </div>
      </div>

      {% include "footer.html" %}
      </div>
      </div>
      {% endblock content %}
