<div class="sidebar" data-color="azure">

  <div class="sidebar-wrapper">
    <div class="logo">
        <img style="width: 200px; height: 90px;" src="/static/img/bowuleftlogo2.png" id="plat_graph" class="center-block">

    </div>

    <ul class="nav">
      <li>
        <a href="/board">
          <i class="pe-7s-graph2"></i>
          <p>搜索</p>
        </a>
      </li>
      <li>
        <a href="/news">
          <i class="pe-7s-global"></i>
          <p>消息列表</p>
        </a>
      </li>
      <li>
        <a href="/rsslist">
          <i class="pe-7s-global"></i>
          <p>Rss列表</p>
        </a>
      </li>
      <li>
        <a href="/keyfilters">
          <i class="pe-7s-users"></i>
          <p>消息设置</p>
        </a>
      </li>
      <li>
        <a href="/usersetting">
          <i class="pe-7s-target"></i>
          <p>用户设置</p>
        </a>
      </li>
    </ul>
  </div>
</div>
